# AI-Driven Vehicle Insurance Risk Analytics Platform

# Core & Data Processing
pandas
numpy
scikit-learn

# Database & pipeline
psycopg2-binary
sqlalchemy
python-dotenv

# ML and Serialization
joblib

# Dashboard
streamlit

# Generative AI tools (Module 5)
langchain
langchain-google-genai
langchain-openai
pgvector
plotly
mlxtend>=0.23.0
langchain-community
chromadb
langchain-huggingface
sentence-transformers

streamlit-option-menu==0.3.13

apscheduler
ollama
